<div class="box ui-widget-content" style="min-width: 600px; float: left;">
	<div class="header">Добавление товара</div>
	<div class="content">

		<form action="admin.php" method="post" enctype="multipart/form-data" id="catalogAddDialog">

			<div class="hidden">
				<input type="hidden" name="mod" value="content" />
				<input type="hidden" name="section" value="{$section}" />
				<input type="hidden" name="action" value="insert" />
			</div>

			<table width="100%">
				<colgroup>
					<col width="10%" />
					<col width="*" />
				</colgroup>
				<tr>
					<td class="formLabel">
						<label for="catalog-article-input">Артикул</label>
					</td>
					<td>
						<input type="text" name="article" id="catalog-article-input" maxlength="255" />
					</td>
				</tr>
				<tr>
					<td class="formLabel">
						<label for="catalog-title-input">Название</label>
					</td>
					<td>
						<input type="text" name="title" id="catalog-title-input" maxlength="255" class="full-width" />
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<label for="catalog-about-input">Краткое описание</label><br />
						<textarea name="about" id="catalog-about-input" cols="40" rows="5" class="full-width"></textarea>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<label for="wyswyg_description">Описание</label><br />
						<textarea name="wyswyg_description" id="wyswyg_description" cols="40" rows="8" class="tinymce_default wysiwyg full-width"></textarea>
					</td>
				</tr>
				<tr>
					<td class="formLabel">
						<label for="catalog-cost-input">Цена</label>
					</td>
					<td>
						<input type="text" name="cost" id="catalog-cost-input" maxlength="20" size="5" class="number" />
					</td>
				</tr>
				{if $this->settings.mainPhotoEnabled}
				<tr>
					<td class="formLabel">
						<label for="catalog-photo-input">Основная фотография</label>
					</td>
					<td>
						<input type="file" name="photo" id="catalog-photo-input" />
						<div class="ui-minor">Формат JPEG, PNG или GIF. Размер файла не более {ini_get('upload_max_filesize')}</div>
					</td>
				</tr>
				{/if}
				<tr>
					<td></td>
					<td>
						<label for="catalog-active-input">
							<input type="checkbox" name="active" value="1" id="catalog-active-input" checked="checked" />
							Показывать товар посетителям
						</label>
					</td>
				</tr>
				{if $this->settings.specialsEnabled}
				<tr>
					<td></td>
					<td>
						<label for="catalog-special-input">
							<input type="checkbox" name="special" value="1" id="catalog-special-input" />
							Этот товар &mdash; спецпредложение
						</label>
					</td>
				</tr>
				{/if}
				{if $this->settings.brandsEnabled}
				<tr>
					<td class="formLabel">
						<label for="catalog-brand-input">Бренд</label>
					</td>
					<td>
						<select name="brand" id="catalog-brand-input">
							<option value="">(не относится ни к одному бренду)</option>
							{foreach $brands brand}
							<option value="{$brand->id}">{$brand->title|escape}</option>
							{/foreach}
						</select>
					</td>
				</tr>
				{/if}
				
			</table>

			<div class="ui-button-box">
				<br />
				<button type="submit">Добавить</button>
				<button type="button" class="cancel" onclick="history.back();">Отменить</button>
			</div>
			
		</form>
	</div>
</div>
