<div class="window" style="width: 600px; float: left;">
	<div class="title">Добавление товара</div>
	<div class="content">

		<form action="admin.php" method="post" enctype="multipart/form-data">

			<div class="hidden">
				<input type="hidden" name="mod" value="content" />
				<input type="hidden" name="section" value="{$sectionId}" />
				<input type="hidden" name="action" value="insert" />
				<input type="hidden" name="submitURL" value="admin.php?mod=content&section={$sectionId}" />
			</div>

			<table width="100%">
				<tr>
					<td class="formLabel">Артикул</td>
					<td>
						<input type="text" name="article" id="catalog-article-input" maxlength="255" class="full-width" />
					</td>
				</tr>

				
			</table>

			<table width="100%">
				<tr>
					<td colspan="2" align="center">
						<br />
						<input type="submit" class="button" value="Добавить" onclick="formApplyClick('settings')" />
						<input type="button" class="button" value="Отменить" onclick="javascript:history.back();" />
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
