<div class="box ui-widget-content" style="width: 600px;">
	<div class="header">Настройки каталога товаров</div>
	<div class="content">

		<form name="settings" id="settings" action="admin.php?mod=plgmgr&id={$this->name}" method="post" enctype="multipart/form-data">

			<div class="hidden">
				<input type="hidden" name="update" value="{$this->name}" />
				<input type="hidden" name="submitURL" value="admin.php?mod=plgmgr" />
			</div>

			<table width="100%" id="catalog-settings-main">
				<tr>
					<td class="formLabel">Показывать</td>
					<td>
						<input type="text" name="goodsPerPage" id="catalog-goodsPerPage-input"
							value="{$this->settings.goodsPerPage}" maxlength="3" size="3" class="number" />
						товаров на одной странице
					</td>
				</tr>

				<!-- ЛОГОТИП -->
				<tr><th colspan="2" class="formHeader">Логотип</th></tr>
				<tr>
					<td></td>
					<td>
						<input type="hidden" name="logoEnabled" value="" />
						<label>
							<input type="checkbox" name="logoEnabled" id="catalog-logoEnabled-input" value="1"{if $this->settings.logoEnabled} checked="checked"{/if} />
							Накладывать логотип на фотографии товаров
						</label>
					</td>
				</tr>
				<tr class="catalog-logoEnabled-related">
					<td></td>
					<td>
						Положение логотипа на фотографии: <br />
						<table class="catalog-settings-logoPosition">
							<tr>
								<td>
									<input type="radio" name="logoPosition" value="TL"{if $this->settings.logoPosition == 'TL'} checked="checked"{/if}{if !$this->settings.logoEnabled} disabled="disabled"{/if} title="Верхний левый угол" />
								</td>
								<td>
									<input type="radio" name="logoPosition" value="TR"{if $this->settings.logoPosition == 'TR'} checked="checked"{/if}{if !$this->settings.logoEnabled} disabled="disabled"{/if} title="Верхний правый угол" />
								</td>
							</tr>
							<tr>
								<td>
									<input type="radio" name="logoPosition" value="BL"{if $this->settings.logoPosition == 'BL'} checked="checked"{/if}{if !$this->settings.logoEnabled} disabled="disabled"{/if} title="Нижний левый угол" />
								</td>
								<td>
									<input type="radio" name="logoPosition" value="BR"{if $this->settings.logoPosition == 'BR'} checked="checked"{/if}{if !$this->settings.logoEnabled} disabled="disabled"{/if} title="Нижний правый угол" />
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr class="catalog-logoEnabled-related">
					<td class="formLabel">Логотип</td>
					<td>
						<div>
						{if $logoExists}
						<img src="{$this->getDataURL()}logo.png" alt="Логотип" />
						{else}
						<strong>не загружен</strong>
						{/if}
						</div>
						<input type="file" name="logoImage" {if !$this->settings.logoEnabled} disabled="disabled"{/if} />
						<div class="ui-minor">Логотип должен быть в формате <a href="http://ru.wikipedia.org/wiki/PNG">PNG</a>.</div>
						
					</td>
				</tr>
				<tr class="catalog-logoEnabled-related">
					<td class="formLabel">Отступ</td>
					<td>
						<input type="text" name="logoVPadding" value="{$this->settings.logoVPadding}" maxlength="4" size="4" class="number"{if !$this->settings.logoEnabled} disabled="disabled"{/if} />
						точек по вертикали
					</td>
				</tr>
				<tr class="catalog-logoEnabled-related">
					<td class="formLabel">Отступ</td>
					<td>
						<input type="text" name="logoHPadding" value="{$this->settings.logoHPadding}" maxlength="4" size="4" class="number"{if !$this->settings.logoEnabled} disabled="disabled"{/if} />
						точек по горизонтали
					</td>
				</tr>

				<tr><th colspan="2" class="formHeader">Фотографии товаров</th></tr>
				<tr>
					<td></td>
					<td>
						<input type="hidden" name="mainPhotoEnabled" value="" />
						<label>
							<input type="checkbox" name="mainPhotoEnabled" id="catalog-mainPhotoEnabled-input" value="1"{if $this->settings.mainPhotoEnabled} checked="checked"{/if} />
							Включить Основную фотографию товара
						</label>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="hidden" name="extPhotosEnabled" value="" />
						<label>
							<input type="checkbox" name="extPhotosEnabled" id="catalog-extPhotosEnabled-input" value="1"{if $this->settings.extPhotosEnabled} checked="checked"{/if} />
							Включить Дополнительные фотографии товара
						</label>
					</td>
				</tr>

				<tr><th colspan="2" class="formHeader">Свойства фотографий</th></tr>
				<tr class="catalog-photoEnabled-related">
					<td class="formLabel">Макс. ширина</td>
					<td>
						<input type="text" name="photoMaxWidth" value="{$this->settings.photoMaxWidth}" maxlength="4" size="4" class="number"{if !$this->settings.mainPhotoEnabled && !$this->settings.extPhotosEnabled} disabled="disabled"{/if} />
						точек
					</td>
				</tr>
				<tr class="catalog-photoEnabled-related">
					<td class="formLabel">Макс. высота</td>
					<td>
						<input type="text" name="photoMaxHeight" value="{$this->settings.photoMaxHeight}" maxlength="4" size="4" class="number"{if !$this->settings.mainPhotoEnabled && !$this->settings.extPhotosEnabled} disabled="disabled"{/if} />
						точек
					</td>
				</tr>

				<tr><th colspan="2" class="formHeader">Свойства миниатюр</th></tr>
				<tr class="catalog-photoEnabled-related">
					<td class="formLabel">Макс. ширина</td>
					<td>
						<input type="text" name="thumbWidth" value="{$this->settings.thumbWidth}" maxlength="4" size="4" class="number"{if !$this->settings.mainPhotoEnabled && !$this->settings.extPhotosEnabled} disabled="disabled"{/if} />
						точек
					</td>
				</tr>
				<tr class="catalog-photoEnabled-related">
					<td class="formLabel">Макс. высота</td>
					<td>
						<input type="text" name=thumbHeight" value="{$this->settings.thumbHeight}" maxlength="4" size="4" class="number"{if !$this->settings.mainPhotoEnabled && !$this->settings.extPhotosEnabled} disabled="disabled"{/if} />
						точек
					</td>
				</tr>

				<!-- БРЕНДЫ -->
				<tr><th colspan="2" class="formHeader">Бренды</th></tr>
				<tr>
					<td></td>
					<td>
						<input type="hidden" name="brandsEnabled" value="" />
						<label>
							<input type="checkbox" name="brandsEnabled" id="catalog-brandsEnabled-input" value="1"{if $this->settings.brandsEnabled} checked="checked"{/if} />
							Включить бренды
						</label>
					</td>
				</tr>
				
				<tr><th colspan="2" class="formHeader">Логотипы брендов</th></tr>
				<tr class="catalog-brandsEnabled-related">
					<td class="formLabel">Макс. ширина</td>
					<td>
						<input type="text" name="brandLogoMaxWidth" value="{$this->settings.brandLogoMaxWidth}" maxlength="4" size="4" class="number"{if !$this->settings.brandsEnabled} disabled="disabled"{/if} />
						точек
					</td>
				</tr>
				<tr class="catalog-brandsEnabled-related">
					<td class="formLabel">Макс. высота</td>
					<td>
						<input type="text" name="brandLogoMaxHeight" value="{$this->settings.brandLogoMaxHeight}" maxlength="4" size="4" class="number"{if !$this->settings.brandsEnabled} disabled="disabled"{/if} />
						точек
					</td>
				</tr>
				
				<tr><th colspan="2" class="formHeader">Спецпредложения</th></tr>
				<tr>
					<td></td>
					<td>
						<input type="hidden" name="specialsEnabled" value="" />
						<label>
							<input type="checkbox" name="specialsEnabled" id="catalog-specialsEnabled-input" value="1"{if $this->settings.specialsEnabled} checked="checked"{/if} />
							Включить Спецпредложения
						</label>
					</td>
				</tr>
				
			</table>

			<div class="ui-button-box">
				<br />
				<button type="submit" onclick="formApplyClick('settings')">Сохранить</button>
				<button type="button" class="cancel" onclick="history.back();">Закрыть</button>
			</div>
			
		</form>
	</div>
</div>

<script type="text/javascript"><!--//--><![CDATA[//><!--
	jQuery(document).ready(function ()
	{
		jQuery("#catalog-logoEnabled-input").click(function ()
		{
			var inputs = jQuery("#catalog-settings-main .catalog-logoEnabled-related :input");
			if ($(this).get(0).checked)
			{
				inputs.removeAttr('disabled');
			}
			else
			{
				inputs.attr('disabled', 'disabled');
			}
		});
		
		jQuery("#catalog-mainPhotoEnabled-input,#catalog-extPhotosEnabled-input").click(function ()
		{
			var checks = jQuery("#catalog-mainPhotoEnabled-input,#catalog-extPhotosEnabled-input");
			var inputs = jQuery("#catalog-settings-main .catalog-photoEnabled-related :input");
			
			for (var i = 0; i < checks.length; i++)
			{
				/* Если хотя бы один переключатель включен, активируем поля ввода */
				if (checks.get(i).checked)
				{
					inputs.removeAttr('disabled');
					return;
				}
			}

			/* Если все переключатели выключены, деактивируем поля ввода */
			inputs.attr('disabled', 'disabled');
			
		});
		
		jQuery("#catalog-brandsEnabled-input").click(function ()
		{
			var inputs = jQuery("#catalog-settings-main .catalog-brandsEnabled-related :input");
			if ($(this).get(0).checked)
			{
				inputs.removeAttr('disabled');
			}
			else
			{
				inputs.attr('disabled', 'disabled');
			}
		});
		
	});
//--><!]]></script>