<div class="ui-button-box">
	<a href="admin.php?mod=ext-goodscatalog&ref=brands&action=add" class="ui-button ui-button-list-add">Добавить бренд</a>
</div>
	
{if count($brands) > 0}
<table class="brand-list ui-widget">
	{foreach $brands brand}
	<tr>
		<td class="brand-list-item ui-widget-content">
			<div class="info">
				<div class="title">{$brand->title}</div>
				<div class="controls">
					<a href="{sprintf($urlEdit, $brand->id)}" title="Изменить"><img src="{$Eresus->root}{$theme->getIcon('item-edit.png')}" alt="[изменить]" /></a>
					<a href="{sprintf($urlToggle, $brand->id)}" title="{if $brand->active}Отключить{else}Включить{/if}"><img src="{$Eresus->root}{if $brand->active}{$theme->getIcon('item-active.png')}{else}{$theme->getIcon('item-inactive.png')}{/if}" alt="[{if $brand->active}отключить{else}включить{/if}]" /></a>
					&nbsp;
					<a href="{sprintf($urlDelete, $brand->id)}" title="Удалить" class="delete"><img src="{$Eresus->root}{$theme->getIcon('item-delete.png')}" alt="[удалить]" /></a>
				</div>
			</div>
		</td>
	</tr>
	{/foreach}
</table>
{if $pagination}
{$pagination->render()}
{/if}
{else}
<div class="ui-widget">
	<div class="ui-widget-content ui-padding ui-helper-padding">
		Вы пока не создали не одного бренда. Для добавления бренда воспользуйтесь кнопкой "Добавить бренд".
	</div>
</div>
{/if}